---
import { POST} from "@pages/endpoints/contact";
import type { ContactFormErrors, ContactFormState, ContactFormResult } from "../types/ContactForm";
type Props = Record<string, never>;

async function handleFormRequest(): Promise<ContactFormState> {
  const errors: ContactFormErrors = {
    name: "",
    phone: "",
    msg: "",
    code: "",
    captcha: "",
    form: "",
  };
  let success = false;
  let action = "send_otp";

  try {
    let response: ContactFormResult<{ nextAction: string }> =
      await (await POST(Astro))?.json();
    
    if (!response) {
      errors.form = "Invalid response.";
      return { errors, success, action };
    }
    
    if (!response.success) {
      errors.form = response.message || "An unexpected error occurred.";
      return { errors, success, action };
    } 
    
    action = response.data.nextAction;

    return { errors, success, action };
  } catch (error) {
    if (error instanceof Error) {
      errors.form = "An unexpected error occurred: " + error.message;
    } else {
      errors.form = "An unexpected error occurred.";
    }

    return { errors, success, action };
  }
}

Astro.session?.set('init', true); // Make sure session cookie is set early, else error (better fix: disable html streaming maybe?)

const { errors, success, action } = (Astro.request.method === "POST")? await handleFormRequest() : { errors: {}, success: false, action: "send_otp" };

---
<script>
  // @ts-nocheck
  import CapWidget from "@cap.js/widget";
  import "iconify-icon";
</script>
<script>
  const widget = document.querySelector('cap-widget');
  const shadowRoot = widget?.shadowRoot;
  const credits = shadowRoot?.querySelector('[part="attribution"]');
  
  if (credits) {
    const clone = credits.cloneNode(true);
    const poweredByTextBefore = document.createTextNode("(by ");
    const poweredByTextAfter = document.createTextNode(")");
    document.querySelector('#captcha-credits')?.appendChild(poweredByTextBefore);
    document.querySelector('#captcha-credits')?.appendChild(clone);
    document.querySelector('#captcha-credits')?.appendChild(poweredByTextAfter);
    widget?.style.setProperty('--cap-credits-display', 'none');
  }
</script>
<style>
  cap-widget {
    --cap-background: var(--bg-color);
    --cap-border-color: rgba(255,255,255,0);
    --cap-border-radius: 0;
    --cap-widget-height: initial;
    --cap-widget-width: 100%;
    --cap-widget-padding: 0 0 11px 0;
    --cap-gap: 3ch;
    --cap-color: var(--text-color);
    --cap-checkbox-size: 32px;
    --cap-checkbox-border: 2px solid var(--border-color);
    --cap-checkbox-border-radius: 4px;
    --cap-checkbox-background: var(--input-bg);
    --cap-checkbox-margin: 4px;
    --cap-font: "Courier New", Courier, monospace;
    --cap-spinner-color: var(--text-color);
    --cap-spinner-background-color: var(--input-bg);
    --cap-spinner-thickness: 2px;
    --cap-credits-display: inline;
    margin: 0;
    display: block;
  }
  cap-widget::part(attribution) {
    display: var(--cap-credits-display);
  }
  form {
    display: grid;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    grid-template-areas:
      "header header header header "
      "name name phone phone"
      "msg msg msg msg"
      "captcha captcha verify verify"
      "code code submit submit";
  }
  form fieldset {
    display: contents;
  }
  #captcha-credits {
    font-size: x-small;
  }
  div {
    grid-area: header;
  }
  label[for="name"] {
    grid-area: name;
  }
  label[for="phone"] {
    grid-area: phone;
  }
  label[for="msg"] {
    grid-area: msg;
  }
  label[for="captcha"] {
    grid-area: captcha;
    margin-bottom: 0;
  }
  button {
    height: 39px;
    margin: 29px 0 10px 0;
    padding: 8px 12px;
  }
  button#send_otp {
    grid-area: verify;
  }
  button#send_msg {
    grid-area: submit;
  }
</style>

<h2>Contact <iconify-icon icon="streamline-sharp-color:chat-bubble-typing-oval"></iconify-icon></h2>
{!success && action != "success" && <form method="post" x-data="{}">
  <div>
    <p>Use the below form to shoot me a quick text!</p>
    {errors.form && <p>{errors.form}</p>}
  </div>
  <fieldset id="send_otp" disabled={action !== "send_otp"}>
    <label for="name">
      Name
      <input type="text" id="name" name="name" value="Bad Blocks" />
      {errors.name && <p>{errors.name}</p>}
    </label>
    <label for="phone">
      Phone
      <input type="text" id="phone" name="phone" value="206-745-2154" />
      {errors.phone && <p>{errors.phone}</p>}
    </label>
    <label for="msg">
      Msg
      <textarea id="msg" name="msg">I think badblocks rocks! A quick brown fox jumped over the lazy dog!</textarea>
      {errors.msg && <p>{errors.msg}</p>}
    </label>
  </fieldset>
  <button id="send_otp" name="action" value="send_otp" type="submit" disabled={action !== "send_otp"}>Verify Your Number!</button>
  <fieldset id="send_msg" disabled={action !== "send_msg"}>
    <label for="code">
      Code
      <input type="text" id="code" name="code" placeholder="123456" />
      {errors.code && <p>{errors.code}</p>}
    </label>
  </fieldset>
  <button id="send_msg" name="action" value="send_msg" type="submit" disabled={action !== "send_msg"}>Text Me!</button>
  <label for="captcha">
    Captcha <span id="captcha-credits"></span>
    <cap-widget id="captcha" data-cap-api-endpoint="/cap/"></cap-widget>
    {errors.captcha && <p>{errors.captcha}</p>}
  </label>
</form> || <p>Your message has been sent successfully!</p>}
